/* Motion graphic Page */
.billboad-container-mg{
    height: 741px;
    width: 741px;
    position: relative;
}

.Pd-heading{
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.billboard-text-mg{
    position: absolute;
    left: 490px;
    top: 145px;
}

.video-card-mg video{
    position: absolute;
    right: -440px;
    top: 100px;
    max-height: 668px;
    width: 377px;
    border: 1px solid black;
    z-index: 10;
}

/* line-container */

.line-container-mg{
    position: relative;
}

.line-img-mg{
    position: absolute;
    height: 2672px;
    width: 1082.75px;
    left: 188px;
    top: 270px;
}

/* Component 1 */
.comp1{
    height: 780px;
    position: relative;
}

.pd-para{
    font-size: 19px;
    font-weight: 300;
}

.comp1 .pd-para{
    position: absolute;
    left: 250px;
    top: 670px;
}

.comp1 img{
    position: absolute;
    left: 895px;
    height: 563px;
    top: 1334px;
}

.comp1img img{
    position: absolute;
    left: 624px;
    height: 812px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.comp1img1 img{
    position: absolute;
    left: 222px;
    height: 960px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.billboard-text-mg-comp1{
    position: absolute;
    left: 972px;
    top: 1213px;
    white-space: nowrap;
}

/* Component 2 */

.comp2 img{
    position: absolute;
    left: 177px;
    height: 388.87px;
    top: 2860px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.comp2img img{
    position: absolute;
    left: 537.08px;
    height: 388.87px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.comp2gif img{
    position: absolute;
    left: 898.01px;
    height: 388.87px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.billboard-text-mg-comp2{
    position: absolute;
    left: 177px;
    top: 2734px;
    white-space: nowrap;
}

/* line-container 2 */

.line-container-mg-2{
    position: inherit;
}

.line-img-mg-2{
    position: absolute;
    height: 2017.82px;
    width: 980.86px;
    left: 230px;
    top: 3495px;
}

/* Component 3 */
.comp3 img{
    position: absolute;
    left: 909px;
    height: 425px;
    top: 4006px;
}

.comp3gif img{
    position: absolute;
    left: 546px;
    height: 354px;
}

/* Component 4 */
.comp4 img{
    position: absolute;
    left: 532px;
    height: 339px;
    top: 4636px;
}

.comp4gif img{
    position: absolute;
    left: 161px;
    height: 494px;
}


/* Component 5 */

.comp5 img{
    position: absolute;
    left: 227px;
    height: 524px;
    top: 5406px;
}

.comp5img img{
    position: absolute;
    left: 948px;
    height: 255px;
    width: 382px;
}

.comp5gif img{
    position: absolute;
    top: 5683px;
    left: 948px;
    height: 388.87px;
    width: 382px;
}


/* Not ideal */
.bobcat-footer-errors{
    position: relative;
    left: 0;
    height: 100px;
    width: 100vw;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 5300px;
}

