@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    /* cursor: pointer; */
    scroll-behavior: smooth;
}

html{
    overflow-x: hidden;
}

:root{
    --bg-color : #FFFFFF;
    --second-bg-color : #22223B;
    --text-color : #4A4E69;
    /* --main-color : #9a8c98;
    --btn-color : #4a4e69; */
}

body{
    margin: 0;
    background-color: var(--bg-color);
    color: var(--second-bg-color);
}

header{
    display: flex;
    height: 160px;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.navbar a + a{
    padding-left: 44px;
}

.navbar a{
    font-size: 14px;
    font-weight: 400;
    color: var(--second-bg-color);
}

h3{
    font-size: 35px;
    font-weight: 700;
    color: var(--second-bg-color);
}

.about-section{
    padding: 0 13rem;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
}

.main-img img{
    height: 415px;
    width: 415px;
    border-radius: 50%;
}

.about-content{
    width: 730px;
}

.about-content h4{
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
    margin: 0;
}

h4{
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
    margin: 0;
}

.about-content h2{
    font-size: 57px;
}

h2{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.about-content p{
    font-size: 14px;
    font-weight: 450;
    color: var(--text-color);
    margin: 0;
}

.resume-link{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.resume-link p{
    font-size: 20px;
    font-weight: 600;
    color: var(--second-bg-color);
}

.resume-link-end{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.resume-link-end p{
    font-size: 20px;
    font-weight: 600;
    color: var(--bg-color);
}
.resume-link-end a{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: var(--bg-color);
}

.resume-link-end img{
    height: 15px;
    width: 15px;
}

.resume-link img{
    height: 17px;
    width: 17px;
}

.resume-link a{
    height: 30px;
    width: 30px;
    background-color: var(--second-bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}


/* skills section */

.skills-section{
    height: 570px;
    background-color: var(--second-bg-color);
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-swipe{
    display: flex;
    /* flex-direction: row;
    padding-top: 60px; */
    /* gap: 280px; */
    margin: 100px auto;
    width: 90%;
    /* border: 5px solid white; */
    overflow-x: auto;
}

.skill-swipe::-webkit-scrollbar {
    display: none;
}

.skill-swipe:hover .group {
  animation-play-state: paused !important;
}

.group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    animation: spin 7s infinite linear;
}

.skills-box{
    height: 180px;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em;
    flex: 0 0 280px;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.skills-box p{
    font-size: 19px;
    font-weight: 400;
    flex-wrap: wrap;
    /* padding-top: 20px; */
}

.skill-icon{
    height: 60px;
    width: 60px;
    background-color: var(--bg-color);
    color: var(--second-bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-icon img{
    height: 40px;
    width: 40px;
}

/* Projects-section */

.projects-section{
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.project-cards{
    height: 450px;
    width: 1200px;
    display: flex;
    gap: 60px;
    max-width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.projects-section-button {
    position:absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--bg-color);
    color: var(--second-bg-color);
    font-size: 26px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.projects-section-button:hover{
    color: var(--bg-color);
    background-color: var(--second-bg-color);
}

#prev{
    left: 50px;
    top: 590px;
}

#next{
    right: 50px;
    top: 590px;
}


.project-cards::-webkit-scrollbar{
    display: none;
}

.card{
    height: 445px;
    width: 360px;
    border-bottom: none;
    padding: 0;
    position: relative;
    color: var(--second-bg-color);
}

.project-img-container{
    height: 440px;
    width: 360px;
    border-radius:10%;
    border: 1px solid black;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-img-container img{
    height: 335px;
}

#Digital-card img{
    height: 410px;
}

#motion-card img{
    height: 310px;
    margin-bottom: 75px;
}

#video-card img{
    height: 178px;
    margin-bottom: 75px;
}

.project-name{
    height: 90px;
    width: 100%;
    background-color: #fff;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-name p{
    font-size: 30px;
    font-weight: 700;
}


/* get in touch */

.get-in-touch{
    height: 1000px;
    background-color: var(--second-bg-color);
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.get-in-touch h2{
    padding: 280px 0 70px;
}

.get-in-touch h5{
    font-size: 27px;
    font-weight: 600px;
}

.btn-container a{
    height: 70px;
    width: 290px;
    border: 1px solid #D9D9D9 ;
    color: var(--bg-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in;
    gap: 10px;
}

.btn-container a:hover{
    box-shadow: 0 0 2px 2px var(--bg-color);
}

.btn-container a p:hover{
    font-size: 22px;
}

.btn-container a p{
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s ease-in;
}

.btn-container{
    height: 70px;
    width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright{
    font-size: 19px;
    font-weight: 500;
    padding: 260px 0 10px;
}

#go-to-top{
    display: none;
    position: fixed;
    bottom: 60px;
    right: 120px;
    border-radius: 20%;
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
}

/* Print Design page -------------------------------------------------------------------------------*/

/* Pd-heading */

.heading{
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* billboad-container */

.billboad-container{
    height: 730px;
    position: relative;
}

.billboard-text{
    position: absolute;
    left: 350px;
    top: 350px;
}

.billboad-img{
    position: absolute;
    right: 150px;
    height: 730px;
}

/* line-container */

.line-container{
    position: relative;
}

.line-img{
    position: absolute;
    left: 230px;
    height: 2610px;
}


/* door-hanger */

.door-hanger{
    height: 780px;
    position: relative;
}

.pd-para{
    font-size: 14px;
    font-weight: 300;
}

.door-hanger .pd-para{
    position: absolute;
    left: 240px;
    top: 570px;
}

.door-hanger img{
    position: absolute;
    left: 200px;
    top: 120px;
    height: 550px;
}

/* newspaper-ad */

.newspaper-ad{
    height: 920px;
    position: relative;
}

.newspaper-ad .pd-para{
    position: absolute;
    top: 180px;
    right: 340px;
}

.newspaper-ad img{
    position: absolute;
    top: 100px;
    right: 40px;
    height: 675px;
}

/* Horizontal-flyer */

.Horizontal-flyer{
    position: relative;
    height: 600px;
}

.Horizontal-flyer .pd-para{
    position: absolute;
    top: -65px;
    left: 250px;
}

.Horizontal-flyer img{
    position: absolute;
    top: -120px;
    height: 530px;
}

/* vertical-flyer */

.vertical-flyer{
    height: 700px;
    display: flex;
    justify-content: center;
    position: relative;
}

.vertical-flyer .pd-para{
    position: absolute;
    top: 160px;
    left: 710px;
}

.vertical-flyer img{
    position: absolute;
    top: 150px;
    height: 527px;
}

/* bobcat-container */

.bobcat-container{
    height: 1110px;
    margin-top: 100px;
    border-top: 1px solid black;
    background-image: url(print-design-images/Group\ 21.png);
    position: relative;
    background-size: cover;
}

.bobcat-footer{
    height: 100px;
    width: 100vw;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.bobcat-text{
    position: absolute;
    top: 50px;
    left: 150px;
}

.bobcat-postcard{
    position: absolute;
    top: 460px;
    width: 100vw;
    display: flex;
    justify-content: left;
    padding: 0 325px;
}


/* Videos section */

section{
    padding: 0 12rem;
}

.video-card{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
}

#serta-card{
    align-items: end;
}

.video-box{
    display: flex;
    flex-direction: column;
    gap: 12rem;
    margin-top: 4rem;
    position: relative;
}

.video-footer{
    display: flex;
    justify-content: space-between;
    padding: 8rem 6rem 4rem ;
}

.video-footer p{
    font-size: 14px;
    font-weight: 300;
}

.line-video{
    position: absolute;
    left: 48em;
    top: 20em;
}